auto post wordpress with telegram.json
{
  "name": "auto post wordpress with telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        1104
      ],
      "id": "f316caf3-2708-4cc7-8916-455f7b28853e",
      "name": "Telegram Trigger",
      "webhookId": "c2ffe3b6-b5b3-441f-8f5e-afe569535275"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=Kamu adalah content writer profesional yang ahli dalam membuat konten untuk WordPress. Berdasarkan topik yang diberikan, buatkan:\n1. Judul artikel yang menarik, SEO-friendly, dan relevan dengan topik.\n2. Konten artikel lengkap minimal 500 kata dengan struktur:\n   - Pendahuluan (1-2 paragraf)\n   - Isi artikel dengan minimal 3 sub-heading\n   - Kesimpulan (1-2 paragraf)\n3. Tags yang relevan untuk artikel (5-8 tags).\n4. Penyisipan gambar: Jika URL gambar disediakan (misalnya, dari input seperti `source_url`), masukkan minimal satu tag `<img>` dalam konten artikel di posisi yang relevan (misalnya, setelah pendahuluan atau di bawah sub-heading tertentu) dengan format `<img src=\"URL_GAMBAR\" alt=\"DESKRIPSI_GAMBAR\" style=\"max-width: 100%; height: auto;\">`. Deskripsi gambar harus relevan dengan konteks artikel. Jika tidak ada URL gambar, buat konten tanpa gambar tetapi tetap siap publikasi. ( ini source urlnya: {{ $('If2').item.json.body_img_url }} )\n\n---------------------------\n\nGaya Penulisan:\n1. Struktur dan Alur:  \nAlur jelas dan terorganisir, mengikuti urutan logis: pengenalan tujuan, penjelasan materi, praktik, dan refleksi. Narasi kronologis memudahkan pembaca mengikuti proses pembelajaran, dengan tahap memahami, menerapkan, dan merefleksikan dijelaskan rinci.\n\n2. Bahasa:  \nFormal, mudah dipahami, sesuai konteks pendidikan. Istilah teknis seperti \"visualisasi data\" dan \"insight\" digunakan tepat, dengan penjelasan sederhana untuk pembaca awam. Kalimat panjang sedikit berulang, tetapi pesan tetap jelas.\n\n3. Nada dan Gaya**:  \nReflektif, pedagogis, dan inspiratif, mencerminkan antusiasme pendidik terhadap pembelajaran bermakna. Menonjolkan keterampilan analisis data dan kaitannya dengan dunia nyata.\n\n4. Pendekatan Pembelajaran**:  \nBerbasis critical thinking dan problem-solving, student-centered, dengan kolaborasi (tutor sebaya) dan refleksi. Menekankan prinsip berkesadaran, bermakna, dan menyenangkan, menggabungkan aspek teknis dan filosofi pendidikan.\n\n---------------------------\n\nFormat output:\nJUDUL: [judul artikel]\nKONTEN: [isi artikel lengkap dalam format HTML yang bersih menggunakan <h2>, <h3>, <p>, <ul>, <li>, dan <img> jika URL gambar tersedia, tanpa tanda ** atau markdown formatting]\nTAGS: [tag1, tag2, tag3, tag4, tag5, tag6, tag7, tag8]\n\n---------------------------\n\nPenting:\n- Gunakan format HTML yang proper (misalnya, <h2> untuk sub-heading, <p> untuk paragraf, <img> untuk gambar) agar siap dipublikasikan langsung ke WordPress.\n- Pastikan tag `<img>` ditempatkan secara strategis (misalnya, setelah pendahuluan atau di antara sub-heading) dengan atribut `alt` yang SEO-friendly dan relevan.\n- Jika URL gambar disediakan, gunakan URL tersebut dalam tag `<img>` dan pastikan deskripsi gambar relevan dengan konten.\n- Untuk TAGS, berikan 5-8 tags yang relevan dengan topik, pisahkan dengan koma.\n- Buat konten yang menarik, informatif, dan dioptimalkan untuk SEO, siap dipublikasikan langsung ke WordPress.\n- Jika tidak ada URL gambar, tetap hasilkan konten lengkap tanpa gambar, tetapi tetap terstruktur dan menarik."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        544,
        912
      ],
      "id": "c5b43177-96ef-4e46-86a9-ccf481e574d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        1136
      ],
      "id": "4e561a4f-b4f6-4e9b-bcac-7e0eb56b5970",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3eb94c4-40b3-4572-b4db-7a31bf604923",
              "name": "article_title",
              "value": "={{ $json.output.match(/JUDUL: (.+)/)?.[1] || 'Artikel Baru' }}",
              "type": "string"
            },
            {
              "id": "84015023-31ee-417f-b7a1-8643dcd1f0e6",
              "name": "article_content",
              "value": "={{ $json.output.match(/KONTEN:\\s*([\\s\\S]+?)(?=GAMBAR:|$)/)?.[1]?.trim().replace(/\\*\\*\\*/g, '').replace(/^JUDUL:.*?\\n/gm, '').replace(/^KONTEN:\\s*/gm, '').replace(/^.*Tentu, ini adalah konten lengkap yang Anda minta\\..*?\\n/gm, '').replace(/^GAMBAR:.*$/gm, '').trim() || '' }}",
              "type": "string"
            },
            {
              "id": "4159f13e-e252-4da4-8c7b-44c260742f97",
              "name": "article_tags",
              "value": "={{ $json.output.match(/TAGS: (.+)/)?.[1] || 'AI-Generated, Blog, Article' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        912
      ],
      "id": "ab6d3b0a-b58d-400f-b068-42dd06fb37d1",
      "name": "Ekstrak Data Konten"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "126fd67a-d645-4634-a88a-9f5eb5590cf8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad225b99-179c-40f6-a9cb-bc1182fa20b1",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47b90cec-27a8-4757-8f79-c502c7e1bb26",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "={{ $json.message.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2adff6bd-2be0-4333-b5ac-3d9b785018e7",
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -352,
        1072
      ],
      "id": "511d9eb1-9ecd-4261-be7c-e9eb539325b1",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbdc6052-911e-4562-9eb6-751380e40998",
              "leftValue": "={{ $json.message.caption }}",
              "rightValue": "thumbnail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        416
      ],
      "id": "584224bc-476f-46db-9f42-a2bfbd8bc293",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://[youre-domain]/wp-json/n8n/v1/auto-post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.article_title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.article_content }}"
            },
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "image_base64",
              "value": "={{ $('Extract from File1').item.json.base65 }}"
            },
            {
              "name": "image_filename",
              "value": "thumbnail.jpg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        48
      ],
      "id": "b714bf81-3ffd-48ad-96a2-704873e2a4a0",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot[youre-telegram-token]/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Telegram Trigger').item.json.message.photo[$('Telegram Trigger').item.json.message.photo.length - 1].file_id }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        160
      ],
      "id": "0e28e650-98c2-471d-ac41-329bd31f5fae",
      "name": "thumnail_req"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot[youre-telegram-token]/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Telegram Trigger').item.json.message.photo[$('Telegram Trigger').item.json.message.photo.length -1 ].file_id }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        608
      ],
      "id": "0848b395-8d9f-43cb-a3db-674fd8bf519d",
      "name": "body_req"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot[youre-telegram-token]/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        144
      ],
      "id": "4cb30b40-ff67-404d-bb0c-b90066a5170c",
      "name": "convert_thumnail"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot[youre-telegram-token]/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        608
      ],
      "id": "4f7b467d-51cf-4aac-b082-d218f9843e29",
      "name": "convert_body"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "base65",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1408,
        144
      ],
      "id": "bc63f248-27e3-46bd-8084-b1acc4eb2e01",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://[youre-domain]/wp-json/wp/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=\"body-image.jpg\""
            },
            {
              "name": "Authorization",
              "value": "Basic [youre-wordpress-token]"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        608
      ],
      "id": "e5821eca-c6aa-4503-b814-7d1cd1f1b3be",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Artikel berhasil dipublish!  \n\n📝 Judul: {{ $('If1').item.json.article_title }}\n🔗 Link: {{ $json.post_url }}\n📅 Tanggal: {{ $now.setLocale('id').format('cccc, dd MMMM yyyy, HH:mm') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        16
      ],
      "id": "7874af1f-60c1-4c2e-80d2-b040e5d9103b",
      "name": "Send a text message",
      "webhookId": "f7d13926-8b52-4007-ad27-84f1fb1c4393"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3abd63ac-f04a-43db-9392-fc2ae5a8ff05",
              "leftValue": "={{ $json.article_content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        128
      ],
      "id": "a75c0534-b2fb-4bc0-8fa7-635a681391d4",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=😅 Maaf ya, sebelum kamu **unggah thumbnail**, kita mulai dulu dengan **bikin prompt atau tema artikelnya** dulu ya 😊\n👉 *Ingat*, **maksimal 1 gambar saja** untuk thumbnail nanti, ya!\n\nKamu bisa kasih ide seperti:\n💻 **Teknologi terkini**\n🏝️ **Gaya hidup sehat**\n📈 **Tips produktivitas**\n...atau **topik lain** yang kamu suka!\n\n🖼️ Setelah **artikelnya selesai dibuat**, baru deh lanjut **upload gambar thumbnail**-nya.\n✨ Yuk, **share idemu dulu**",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        192
      ],
      "id": "b095fb10-561e-4727-883f-10e64badb768",
      "name": "Send a text message1",
      "webhookId": "0242428e-a42c-46c3-8a19-3463f1cec65e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3abd63ac-f04a-43db-9392-fc2ae5a8ff05",
              "leftValue": "={{ $json.body_img_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        1008
      ],
      "id": "8dbea0b8-3566-4466-9c6b-494d15b5e139",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=😅 Maaf ya, sebelum kamu kirim **prompt artikel**, unggah dulu **foto body image**-nya ya.\n🖼️ *Maksimal 1 gambar saja*, dan jangan lupa kasih **caption body** yang sesuai.\n\nSetelah itu, baru deh kita lanjut bikin **artikelnya** dari prompt kamu!\n✨ Yuk, **upload gambar body**-nya dulu\\~",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        1104
      ],
      "id": "3b639a74-ae13-4b39-9b86-d15d086069f4",
      "name": "Send a text message2",
      "webhookId": "123bc504-aa4b-4134-a86d-62f2acfd1a94"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=👋 **Hai!** Buat kamu yang mau mulai bikin artikel otomatis di WordPress lewat bot ini, berikut langkah-langkahnya ya:\n\n1️⃣ **Kirim gambar untuk body content**\n🖼️ *Maksimal 1 gambar aja*, dan **kasih caption** dengan teks: `body` (wajib huruf kecil semua)\n\n2️⃣ **Tulis prompt artikelnya**\n📝 Bebas pilih tema apa aja — teknologi, lifestyle, edukasi, dll.\n\n3️⃣ **Kirim gambar thumbnail**\n🖼️ *Maksimal 1 gambar juga*, dan **kasih caption**: `thumbnail` (wajib huruf kecil semua)\n\n⚠️ **Penting:**\n✅ Caption **harus persis**: `body` dan `thumbnail`\n🚫 Tidak boleh salah ketik atau variasi huruf seperti `BOdy`, `Thumbail`, `tHumbnail`, dll — karena sistem gak akan bisa memproses kalau tidak sesuai.\n\n✨ Yuk, mulai dari upload gambar *body*-nya dulu!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        1200
      ],
      "id": "97e764cf-d144-4ba9-bad2-cfca02c24079",
      "name": "Send a text message3",
      "webhookId": "e15ef122-cc9b-4cb1-89ea-16bf17eb8b5c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1998d9e3-7584-4388-a456-ec031f5981c1",
              "leftValue": "={{ $json.message.caption }}",
              "rightValue": "body",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        480
      ],
      "id": "8cbeb201-32e5-4c20-86cd-9d1f6509f510",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Caption harus persis: body \n\nNote: kalo body sudah abaikan pesan ini",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        416
      ],
      "id": "db2c9584-569f-423d-ab52-60edeceeb202",
      "name": "Send a text message6",
      "webhookId": "bfe73a7d-b327-41b7-8f9b-de4e6959a4eb"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🖼️ *Maksimal 1 gambar juga*, dan **kasih caption**: `thumbnail atau body` (wajib huruf kecil semua)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        1392
      ],
      "id": "297d6889-ae05-4e46-889a-05519648a7e8",
      "name": "Send a text message5",
      "webhookId": "b20f99d2-695c-4cb7-9de8-4be5f38f9641"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3abd63ac-f04a-43db-9392-fc2ae5a8ff05",
              "leftValue": "={{ $('Get row(s) in sheet1').item.json.article_content }}",
              "rightValue": "={{ \"\" }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        144
      ],
      "id": "ff08a841-bd08-4e4b-9d63-e075aa868cd8",
      "name": "If4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Tulis Prompt artikelnya dulu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        32
      ],
      "id": "193879da-04a5-41a6-bc2e-d6ebdc328a54",
      "name": "Send a text message7",
      "webhookId": "f989f9a7-4131-4dfe-89a0-5620440a93de"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Post Img body berhasil,\n\nLanjut bikin prompt",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        608
      ],
      "id": "8bc102ef-e9f5-4f37-bf9b-29832a26b715",
      "name": "Send a text message8",
      "webhookId": "b6ce1d82-5b0a-4caa-9f2d-b899304a0c09"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Post content hasil prompt berhasil\n\nLanjut Upload thumbnail img",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        912
      ],
      "id": "c9d9f6e4-9e88-4edb-8409-6f9a183bb138",
      "name": "Send a text message9",
      "webhookId": "7c22ff27-eb85-4830-9cd2-35ea7e160a1e"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⏳ Tunggu beberapa detik...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        912
      ],
      "id": "f4674ef8-e498-4a0b-8ea7-aa25ff5eb204",
      "name": "Send a text message4",
      "webhookId": "e60891dc-0e0d-4305-bcd8-1905f614a497"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⏳ Tunggu beberapa detik...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        608
      ],
      "id": "d9bb6507-5b49-4731-ba43-e24783a70a92",
      "name": "Send a text message10",
      "webhookId": "5d4cd524-f572-4521-89e6-931c242b8cf1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⏳ Tunggu beberapa detik...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        192
      ],
      "id": "863084bd-0143-4e9a-b933-bb53ff41c7b2",
      "name": "Send a text message11",
      "webhookId": "15c9f812-ec3c-4c1d-8026-3a31c2941af5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc",
          "mode": "list",
          "cachedResultName": "wordpress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -128,
        1008
      ],
      "id": "77c17c91-ec3d-4ddd-b001-75eb2bf96a4e",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc",
          "mode": "list",
          "cachedResultName": "wordpress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "1",
            "body_img_url": "={{ $('HTTP Request').item.json.guid.rendered }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "article_title",
              "displayName": "article_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "article_content",
              "displayName": "article_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "article_tags",
              "displayName": "article_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body_img_url",
              "displayName": "body_img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1392,
        608
      ],
      "id": "2edfd00f-d2d3-4b45-b41f-49182fd05b76",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc",
          "mode": "list",
          "cachedResultName": "wordpress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "1",
            "article_title": "={{ $('Ekstrak Data Konten').item.json.article_title }}",
            "article_content": "={{ $('Ekstrak Data Konten').item.json.article_content }}",
            "article_tags": "={{ $('Ekstrak Data Konten').item.json.article_tags }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "article_title",
              "displayName": "article_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "article_content",
              "displayName": "article_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "article_tags",
              "displayName": "article_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body_img_url",
              "displayName": "body_img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1168,
        912
      ],
      "id": "ee1afc33-7555-45e7-a41b-80a9b3ed49eb",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc",
          "mode": "list",
          "cachedResultName": "wordpress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        96,
        128
      ],
      "id": "26c7d488-e7c8-45ed-bdc6-6d4076ad6827",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc",
          "mode": "list",
          "cachedResultName": "wordpress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1648,
        144
      ],
      "id": "f4c1545c-2535-4c99-b5e4-ec5ff60e1894",
      "name": "Get row(s) in sheet2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc",
          "mode": "list",
          "cachedResultName": "wordpress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T_461b-gp0DbYwVzh3-tevhiczjzTFsT5FsKYePjWsc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "1",
            "article_title": "={{ \"\" }}",
            "article_content": "={{ \"\" }}",
            "article_tags": "={{ \"\" }}",
            "body_img_url": "={{ \"\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "article_title",
              "displayName": "article_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "article_content",
              "displayName": "article_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "article_tags",
              "displayName": "article_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_img_url",
              "displayName": "body_img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2496,
        96
      ],
      "id": "dd825764-7dea-487f-92df-e6f6f40cd7ae",
      "name": "Update row in sheet2"
    },
    {
      "parameters": {
        "content": "# Flow Prompt Artikel\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 736,
        "width": 1808
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        816
      ],
      "typeVersion": 1,
      "id": "d854d3f4-0526-4157-8d20-e0f1782b7785",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Flow Thumbnail Imagew\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 320,
        "width": 2624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "f58680d8-1dd3-4d2e-8b77-641388776575",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Flow Body Image\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 384,
        "width": 1696,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        384
      ],
      "typeVersion": 1,
      "id": "17d2ac01-dc13-49f5-a5c5-bed0868da313",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Ekstrak Data Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Data Konten": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thumnail_req": {
      "main": [
        [
          {
            "node": "convert_thumnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_thumnail": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body_req": {
      "main": [
        [
          {
            "node": "convert_body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message10": {
      "main": [
        [
          {
            "node": "body_req",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message11": {
      "main": [
        [
          {
            "node": "thumnail_req",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6685f123-6acf-4d37-9292-d3159b99cb31",
  "meta": {
    "instanceId": "1503268f302a94962769dea884243a828e551c80c73de60df0ed1f1eeea60395"
  },
  "id": "YcItKnFMw8hW0uDf",
  "tags": [
    {
      "name": "otomatiasai-wordpress",
      "id": "JINKcL3416wz6KTh",
      "createdAt": "2025-08-08T12:03:04.583Z",
      "updatedAt": "2025-08-08T12:03:04.583Z"
    }
  ]
}